Before you turn this problem in, make sure everything runs as expected. First, restart the kernel (in the menubar, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All).
Make sure you fill in any place that says YOUR CODE HERE. Do not write your answer in anywhere else other than where it says YOUR CODE HERE.

First, write your name and NetID below:

In [ ]:
NAME = 'WRITE YOUR NAME HERE'
NETID = 'WRITE YOUR NETID HERE'

# Problem 11.1. Function Application in Pandas.

In [ ]:
import numpy as np
import pandas as pd

In this problem, we will use Pandas [apply()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) to perform function application in Pandas.

We will use a smaller data set with only 10 rows in this problem, but any function you write in this notebook can be scaled to a larger data set such as `2001.csv`.

In [ ]:
df = pd.DataFrame({
    "Origin": ['ORD', 'DFW', 'ATL', 'LAX', 'PHX', 'STL', 'DTW', 'MSP', 'LAS', 'BOS'],
    "Distance": [1050, 370,  228,  678,  873, 472,  370, 1182,  745,  448],
    "ArrDelay": [-3,   4,  23,  10,  20, -3, -10, -12,  -9,  -1],
    "DepDelay": [-4,  -5,  11,  -3,   0, -3,  -8,  -6,   2,   2],
    "Cancelled": [0, 0, 0, 0, 1, 0, 1, 0, 1, 1]
})

print(df)

## 1. Calculate the base-10 logarithm of Distance.

- Use Pandas [apply()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) function to write a function named `get_log10()`, which takes a Pandas data frame as its first argument and a column name (str) as its second argument. It returns a Pandas Series with base-10 log values of the specified column.

Note: [numpy.log()](http://docs.scipy.org/doc/numpy/reference/generated/numpy.log.html) calculates the natural logarithm. For the base-10 logarithm, you should use [numpy.log10()](http://docs.scipy.org/doc/numpy/reference/generated/numpy.log10.html).

In [ ]:
def get_log10(df, column):
    '''
    Takes a data frame and a column name.
    Returns base-10 log of the specified column.
    
    Parameters
    ----------
    df: A pandas data frame.
    column: A string.
    
    Returns
    -------
    A Pandas Series.
    '''
    
    # YOUR CODE HERE
    
    return result

In the following cell, we visually inspect the result.

In [ ]:
log_10_distance = get_log10(df, "Distance")
print(log_10_distance)

Make sure your function passes the test in the following code cell.

In [ ]:
answer1 = np.array([
    3.0211893, 2.56820172, 2.35793485, 2.83122969,  2.94101424,
    2.673942, 2.56820172, 3.07261748, 2.87215627, 2.65127801
])

np.testing.assert_allclose(answer1, log_10_distance.values)

## 2. Calculate total delay.

- Use Pandas apply() to write a function named `get_sum()` that takes a data frame and returns the sum of each row in the specified columns. That is, if the arrival and departure delay columns of our data frame are:

```
   ArrDelay  DepDelay
0        -3        -4
1         4        -5
2        23        11
3        10        -3
4        20         0
5        -3        -3
6       -10        -8
7       -12        -6
8        -9         2
9        -1         2
```

we want to calculate the sum of each row in these columns:

```
0    -7
1    -1
2    34
3     7
4    20
5    -6
6   -18
7   -18
8    -7
9     1
```

In [ ]:
def get_sum(df, columns):
    '''
    Takes a Pandas DataFrame as its first argument and a list of columns as its second argument.
    Returns a Pandas Series with the sum of the columns listed in "columns".
    
    Parameters
    ----------
    df: A pandas DataFrame.
    columns: A list of strings.
    
    Returns
    -------
    A pandas Series.
    '''

    # YOUR CODE HERE
    
    return result

In [ ]:
total_delay = get_sum(df, ["ArrDelay", "DepDelay"])
print(total_delay)

Make sure that your function passes the test in the following code cell.

In [ ]:
answer2 = np.array([ -7,  -1,  34,   7,  20,  -6, -18, -18,  -7,   1])

np.testing.assert_array_equal(answer2, total_delay.values)

## 3. Replace Cancelled.

- Use Pandas apply() to write a function that replaces every 1 with "Yes" and 0 with "No" in the specified column of the data frame. For example, all values in the `Cancelled` column are either 0 or 1:

```
   Cancelled
0          0
1          0
2          0
3          0
4          1
5          0
6          1
7          0
8          1
9          1
```

and what we want in the end is

```
0     No
1     No
2     No
3     No
4    Yes
5     No
6    Yes
7     No
8    Yes
9    Yes
```

In [ ]:
def get_yes_or_no(df, column):
    '''
    Takes a Pandas DataFrame as its first argument,
    and the name of the column to use as its second argument.
    Replaces every 1 with "Yes" and 0 with "No" in the specified column.
    
    Parameters
    ----------
    df: A Pandas DataFrame.
    column: A string.
    
    Returns
    -------
    A Pandas Series.
    '''
    
    # YOUR CODE HERE
    
    return result

In [ ]:
cancelled = get_yes_or_no(df, "Cancelled")
print(cancelled)

In [ ]:
answer3 = np.array(['No', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes'])

np.testing.assert_array_equal(answer3, cancelled.values)

## 4. Get city names from IATA codes.

Consider the following function:

In [ ]:
def get_city(iata):
    data = {
        'ORD': 'Chicago',
        'DFW': 'Dallas-Ft Worth',
        'ATL': 'Atlanta',
        'LAX': 'Los Angeles',
        'PHX': 'Phoenix',
        'STL': 'St Louis',
        'DTW': 'Detroit',
        'MSP': 'Minneapolis',
        'LAS': 'Las Vegas',
        'BOS': 'Boston'
    }
    return data[iata]

This function converts an IATA code to a city name. I chose to hard-code the dictionary because many students still had problems using web services, such as FAA or GitHub, but to scale this to a larger data set with more IATA codes we would have to rewrite the function to make use of external databases or an SQL database (which we will cover in the coming weeks).

- In the following code cell, use `get_city()` and Pandas apply() to convert the IATA codes in the data frame to city names.

In [ ]:
def get_name(df, column):
    '''
    Takes a Pandas DataFrame as its first argument,
    and the name of the column to use as its second argument.
    Uses get_city() function to convert IATA codes into city names.
    
    Parameters
    ----------
    df: A Pandas DataFrame.
    column: A string.
    
    Returns
    -------
    A Pandas Series.
    '''
    
    # YOUR CODE HERE
    
    return result

In the following cell, we will create a new column named `OriginName` in the original data frame `df`.

In [ ]:
df["OriginName"] = get_name(df, "Origin")
print(df)

Make sure that your function passes the following test.

In [ ]:
answer4 = pd.Series(
    data=['Chicago', 'Dallas-Ft Worth', 'Atlanta', 'Los Angeles', 'Phoenix',
          'St Louis', 'Detroit', 'Minneapolis', 'Las Vegas', 'Boston'],
    name="OriginName"
)

pd.util.testing.assert_series_equal(answer4, df["OriginName"])

## 5. Convert all upper case to lower case.

- Use Pandas apply() to write a function named `to_lower` that converts all uppercase characters in the specified column of the data frame to all lowercase.

In [ ]:
def to_lower(df, column):
    '''
    Takes a Pandas DataFrame as its first argument,
    and the name of the column to use as its second argument.
    Converts all strings in the specified column to lowercase.
    
    Parameters
    ----------
    df: A Pandas DataFrame.
    column: A string.
    
    Returns
    -------
    A Pandas Series.
    '''
    
    # YOUR CODE HERE
    
    return result

In [ ]:
lower_name = to_lower(df, "OriginName")
print(lower_name)

In [ ]:
answer5 = np.array([
    'chicago', 'dallas-ft worth', 'atlanta', 'los angeles', 'phoenix',
    'st louis', 'detroit', 'minneapolis', 'las vegas', 'boston'
])

np.testing.assert_array_equal(answer5, lower_name.values)